$font-big:1.3em;
$font-title:1.2em;
$font-normal:12px;
$font-little:1.1em;
$font-small:0.9em;

$color-panel:#449630;
$color-title:#fff;
$color-content:#545454;
$color-arrow:#B5D4AB;
$color-type:#7F7F7F;
$color-panel-content:#808080;
$color-baner:#C0DDC1;
$color-orange:#FF7A02;
$color-btn:#459731;


$bg-panel-title:#E6F0E5;
$bg-title:#44972F;
$bg:#F1F1F1;
$bg-panel-content:#FAFAFA;
$bg-login-btn:#6AAA59;
$bg-baner-tint:#73AF63;
$bg-baner-dark:#2A7517;
$bg-gray:#CDCDCD;

$border-panel-text:#CBD3C8;
$border-login:#287715;
$border-price:#F55F44;
$border-btn:#D4E6CC;

