
@import "../variables";
@import "../mixin";
@import "../animation";
@import "../common";


.menu{
  position: absolute;
  width: 80%;
  z-index: 1001;
  background: #fff;
  .header{
    color: #fff;
    //    background: -webkit-gradient(linear,from(#30B35E),to(#44972F));
    background: -webkit-linear-gradient(top, #44972F, #30B35E);
    text-align: center;
    .photo{
      padding-top: 20px;
      padding-bottom:10px ;
      img{
        border-radius: 50%;
        width: 100px;
      }
    }
    .balance{
      padding: 10px 0;
    }
    .phone{
      padding-top: 40px;
      padding-bottom: 10px;
      font-size: $font-title;
    }
  }
  .content{
    background: #fff;
    color: $color-panel-content;

    li{
      padding: 20px 30%;
      background-repeat:no-repeat ;
      background-size:30px;
      background-position: 50px 15px;
      &:first-child{
        background-image: url("../images/icon1.png");
      }
      &:nth-child(2){
        background-image: url("../images/icon2.png");
      }
      &:nth-child(3){
        background-image: url("../images/icon3.png");
      }
      &:nth-child(4){
        background-image: url("../images/icon4.png");
      }
      &:last-child{
        background-image: url("../images/icon5.png");
      }
      a{
        color: $color-panel-content;
      }

    }
    .logout{
      text-align: center;
      border-top: 1px solid $color-panel-content;
      margin: 30px 40px 0 40px;
      padding: 10px 0 20px 0;
    }
  }
}
.title{
  padding:13px;
  text-align: center;
  background-color: $bg-title;
  color: $color-title;
  font-size: $font-title;
  &.index-title{
    font-size: $font-big;
  }
  .front-text{
    background-image: url("../images/logo1.png");
    background-repeat: no-repeat;
    padding: 13px;
    background-size: 60%;
    background-position: 50%;
  }
  .title-left{
    background-image: url("../images/icon_menu.png");
    background-repeat: no-repeat;
    padding: 11px 10px;
    background-size: 80%;
    background-position: 50%;
    float: left;
    &.back{
      background-image: url("../images/icon_arrow_left.png");
      padding: 10px;
      background-size: 50%;
    }
  }
  .title-right{
    color: $color-title;
    font-size: $font-normal;
    float: right;
    padding-top: 4px;
  }

}
.index{
  margin-bottom: 60px;
}
.panel{
  .panel-title{
    background-color: $bg-panel-title;
    color: $color-panel;
    font-size: $font-title;
    padding:10px 20px;
  }
  .panel-body{
    background-color: $bg-panel-content;
    position: relative;
    border-bottom: 1px solid $bg;
    &.goods {
      padding: 20px;

      .left {
        display: table-cell;
        vertical-align: top;
        padding-right: 20px;
        img{
          width: 50px;
        }
      }
      .middle {
        display: table-cell;
        vertical-align: middle;
        width: 9999px;
        .type{
          font-size: $font-title;
          color: $color-content;
          .num{
            color: $color-panel;
          }
        }
        .content{
          font-size: $font-normal;
          color: $color-panel-content;
        }
      }
      .right{
        vertical-align: middle;
        font-size: $font-title;
        position: relative;
        top: -40px;
        float: right;
        li{
          float: left;
        }
        .sub{
          background-image: url("../images/icon_sub.png");
          background-repeat: no-repeat;
          padding: 10px;
          background-size: 100%;
        }
        .add{
          background-image: url("../images/icon_add.png");
          background-repeat: no-repeat;
          padding: 10px;
          background-size: 100%;
        }
        .total{
          width: 15px;
          text-align: center;
          line-height: 20px;
        }
      }
    }
    &.goods-detail{
      border: none;
      padding: 20px 0;
      .left{
        display: table-cell;
        vertical-align: top;
        width: 50%;
        img{
          width: 100%;
        }
      }
      .right{
        display:table-cell;
        vertical-align:middle;
        font-size: $font-title;

        .border{
          border-left:3px solid $border-price;
          padding-left:20px;
        }
        .name{
          color: $color-content;
        }
        .price{
          color: $color-panel-content;
        }
      }
    }
    &.vs{
      padding: 30px 20px;
      div{
        display: table-cell;
        vertical-align: middle;
        text-align: center;
      }
      img{
        width: 100%;
      }
      .vsfont{
        font-size: $font-big;
        color: $bg-title;
        width: 20%;
        span{
          color: $color-arrow;
        }
      }
    }
    &.flow{
      img{
        width: 100%;
      }
    }
  }
}

.footer{
  color: $color-title;
  background: $bg-title;
  padding: 0 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
  .pay{
    font-size: $font-title;
    width: 50%;
    float: left;
    line-height: 50px;
    border-right: 2px solid #54a640;
  }
  .sure{
    font-size: $font-big;
    padding: 15px 0;
    text-align: center;
    border-left: 2px solid #2F7F1D;
    display: table-cell;
    width: 999999px;
    a{
      color:$color-title;
    }
  }
}

.swiper-pagination-bullet-active{
  background: #fff !important;
}
.swiper-pagination-bullet{
  background: url("../images/icon_spot2.png") no-repeat;
  width: 11px;
  height: 11px;
  opacity: 1;
}

.buy{
  margin-top: 10px;
  border: 1px solid $border-panel-text;
  box-shadow: 0px 10px 20px -10px #ccc;
  margin-bottom: 20px;
  .panel-body{
    padding: 0 30px;
    color: $color-content;
    li{
      padding: 30px 0;
      border-bottom: 1px solid $border-panel-text;
      input{
        border: none;
        background: $bg-panel-content;
        font-size: $font-normal;
        &:focus{
          border: none;
        }
      }
    }
    .getTime{
      border-bottom: none;
      span{
        float: right;
//        background: url("../images/icon_arrow_right.png") no-repeat;
        padding: 0 20px;
        background-size: 10px;
        background-position: 120px;
        display: inline-block;
      }

    }

  }
}

.login{
  .close{
    text-align: right;
    padding-top: 20px;
    a{
      color: #fff;
      font-size: 2em;
    }

  }
  ::-webkit-input-placeholder{
    color:#479530;
  }
  background: $bg-title;
  padding: 0 20px;
  .logo{
    text-align: center;
    font-size: 3em;
    color: #fff;
    padding: 50px;
    img{
      width: 50px;
    }
  }
  .form-group{
    input{
      height: 40px;
      line-height: 40px;
      border: 2px solid $border-login;
      background: #D9EBD5;
      width: 100%;
      border-radius: 5px;
      margin: 10px 0;
      font-size: $font-title;
      color:#479530;

    }
    .phone{
      width: 55%;
    }
    .btn{
      color: #fff;
      border-radius: 5px;
      background: $bg-login-btn;
      padding: 13px;
      margin-left: 10px;
    }
  }

  .login-btn a{
    color: #fff;
    border-radius: 5px;
    padding: 13px 0;
    text-align: center;
    background: $bg-login-btn;
    width: 100%;
    display: block;
    margin-top: 40px;
    font-size: $font-title;
  }
}

.my_order{
  .my_order-baner{
      padding: 10px 0;
    a{
      display: inline-block;
      background: $bg-baner-tint;
      padding: 10px 30px;
      color: $color-baner;
      &.left{
        border-radius: 50px 0 0 50px;
      }
      &.right{
        border-radius:0 50px 50px 0 ;
      }
      &.active{
        background: $bg-baner-dark;
        color: $color-title;
      }
    }
  }



  .star{
    ul{
      img{
        width: 20px;
      }
    }
  }

  .time{
    font-size: $font-little;
    color: $color-content;
  }
  .panel-body{
    padding: 10px 0;
    line-height: 2em;
    }

    .done{
      .phone-left{
        background-image: url("../images/phone.png");
        background-repeat: no-repeat;
        background-position: 95% 10px;
        background-size: 20px;
      }
    }

  }

  .img-text{
    .left{
      display: table-cell;
      img{
        width: 80px;
        padding: 10px 20px;
    }
  }
  .right{
    display: table-cell;
    vertical-align: middle;
    .btn{
      margin: 5px 10px;
    }
  }
}


@media screen and (max-width: 321px)  {
  .menu .content li{
    padding: 10px 40%;
    background-size: 20px;
    background-position: 50px 7px;
  }
  .menu .content .logout{
    margin-top: 20px;
  }
  .menu .header .photo img{
    width: 70px;
  }
  .menu .header .phone{
    padding-top: 20px;
  }
}


.error{
  color:#cc0000;
  font-size: 1.2em;
  text-align: center;
}
